@{ 
    Layout = null;
}
<div class="search-wrap active">
    <div class="search-input">
        <form action="/Home/Ara" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="s" placeholder="Search something interesting">
                <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
            </div>
        </form>
    </div>
</div>