@using CleanseBlog.Models

@{
    /**/
    
}

<h2>MakaleYaz</h2>
<div class="col-sm-9">
    @using (Html.BeginForm("MakaleYaz","Makale",FormMethod.Post,new { enctype="multipart/form-data"}))
    {
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" name="baslik" placeholder="Başlık Giriniz">
        </div>
        <div class="form-group">
            <select class="form-control" name="kategoriId">
                @foreach (var cat in ViewBag.cat)
                {
                    <option value="@cat.id">@cat.adi</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  name="etiketler" placeholder="Etiketler">
        </div>
        <div class="form-group">
            <input type="file" class="form-control"  name="Resim"  placeholder="İmage:">
        </div>

        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="Makalenizi yazınız" name="icerik"></textarea>
        </div>
        <button type="submit" class="btn btn-default" id="bbsubmit">Send it</button>
    </form>
    }

</div>
